<section class="section about" id="about">
  <div class="container-about container">
    <div class="about-description">
      <load src="partials/decoration.html" />
      <h2 class="section-header about">
        Meet Maria Kovalenko: Your Partner in Capturing Unforgettable Wedding
        Moments
      </h2>
      <p class="section-description">
        With years of experience in wedding photography, Maria specializes in
        capturing genuine emotions and beautiful moments. Her unique approach
        blends artistry with a personal touch, ensuring that each couple's story
        is told through stunning imagery.
      </p>
    </div>

    <div class="about-picture">
      <picture>
        <source
          srcset="
            /img/about/about-pic_d@1x.webp 1x,
            /img/about/about-pic_d@2x.webp 2x
          "
          width="1312"
          height="593"
          media="(min-width: 1440px)"
        />

        <source
          srcset="
            /img/about/about-pic_t@1x.webp 1x,
            /img/about/about-pic_t@2x.webp 2x
          "
          width="704"
          height="318"
          media="(min-width: 768px)"
        />

        <source
          srcset="
            /img/about/about-pic_m@1x.webp 1x,
            /img/about/about-pic_m@2x.webp 2x
          "
          width="335"
          height="273"
          media="(min-width: 320px)"
        />

        <img
          class="about-img"
          src="/img/about/about-pic_m@1x.webp"
          alt="Photo of married couple"
        />
      </picture>
    </div>
  </div>
</section>
