<section id="benefits" class="section">
  <div class="benefits-container container">
    <div class="benefits-container-title">
      <load src="partials/decoration.html" />
      <h2 class="benefits-title">
        Capture Every Moment with Our Tailored Wedding Photography Packages
      </h2>
    </div>
    <ul class="benefits-list">
      <li class="benefits-list-links">
        <div class="benefits-li-item">
          <svg class="ben-icons">
            <use href="./img/sprite.svg#icon-frame6"></use>
          </svg>
          <h3 class="benefits-list-title">
            Your Perfect Story: A Package Tailored for You.
          </h3>
          <p class="benefits-list-text">
            Explore our collection of wedding packages, each designed to
            perfectly capture the uniqueness of your special day.
          </p>
        </div>
      </li>
      <li class="benefits-list-links">
        <div class="benefits-li-item">
          <svg class="ben-icons">
            <use href="./img/sprite.svg#icon-frame3"></use>
          </svg>
          <h3 class="benefits-list-title ben-sec-title">
            From Dawn to Stars: Your Full Day in Frame.
          </h3>
          <p class="benefits-list-text">
           Capture every emotion, from the morning preparations to the grand finale of your wedding celebration.
          </p>
        </div>
      </li>
      <li class="benefits-list-links">
        <div  class="benefits-li-item">
          <svg class="ben-icons">
            <use href="./img/sprite.svg#icon-frame1"></use>
          </svg>
           <h3 class="benefits-list-title">
            Precious Moments: Capturing Your Key Events.
          </h3>
          <p class="benefits-list-text">
           Perfect for preserving the most important moments of your intimate ceremony or smaller celebration.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
