<section class="section-header" id="benefits" aria-labelledby="benefits-title">
  <div class="container benefits-container">
    <div class="benefits-header">
      <load src="partials/decoration.html" />
      <h2 class="benefits-title" id="benefits-title">
        Capture Every Moment with Our Tailored Wedding Photography Packages
      </h2>
    </div>
    <ul class="benefits-list list">
      <li class="benefits-item">
        <article class="benefit-card">
          <div class="benefit-icon-wrapper">
            <svg class="benefit-icon" aria-hidden="true">
              <use href="../img/sprite.svg#icon-frame6"></use>
            </svg>
          </div>
          <h3 class="benefit-card-title">
            Your Perfect Story: A Package Tailored for You.
          </h3>
          <p class="benefit-card-desc">
            Explore our collection of wedding packages, each designed to
            perfectly capture the uniqueness of your special day.
          </p>
        </article>
      </li>
      <li class="benefits-item">
        <article class="benefit-card">
          <div class="benefit-icon-wrapper">
            <svg class="benefit-icon" aria-hidden="true">
              <use href="../img/sprite.svg#icon-frame3"></use>
            </svg>
          </div>
          <h3 class="benefit-card-title">
            From Dawn to Stars: Your Full Day in Frame.
          </h3>
          <p class="benefit-card-desc">
            Capture every emotion, from the morning preparations to the grand
            finale of your wedding celebration.
          </p>
        </article>
      </li>
      <li class="benefits-item">
        <article class="benefit-card">
          <div class="benefit-icon-wrapper">
            <svg class="benefit-icon" aria-hidden="true">
              <use href="../img/sprite.svg#icon-frame1"></use>
            </svg>
          </div>
          <h3 class="benefit-card-title">
            Precious Moments: Capturing Your Key Events.
          </h3>
          <p class="benefit-card-desc">
            Perfect for preserving the most important moments of your intimate
            ceremony or smaller celebration.
          </p>
        </article>
      </li>
    </ul>
  </div>
</section>
