<section class="section">
  <div class="container">
    <div>
      <svg>
        <use href="../img/sprite.svg#icon-decoration"></use>
      </svg>
      <h2>Words from Our Wonderful Couples</h2>
      <p>
        Read what the couples who entrusted us with their most precious memories
        have to say.
      </p>
    </div>
    <div>
      <ul></ul>
      <div>
        <button type="button">
          <svg>
            <use href="../img/sprite.svg#icon-arrow-back"></use>
          </svg>
        </button>
        <button type="button">
          <svg>
            <use href="../img/sprite.svg#icon-arrow-forward"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
