<section class="section">
  <div class="feedbacks-container container">
    <div class="feedbacks-description-container">
      <svg class="feedbacks-decoration">
        <use href="../img/sprite.svg#icon-decoration"></use>
      </svg>
      <h2 class="feedbacks-header">Words from Our Wonderful Couples</h2>
      <p class="feedbacks-description">
        Read what the couples who entrusted us with their most precious memories
        have to say.
      </p>
    </div>

    <div class="feedbacks-content-container swiper">
      <ul class="feedbacks-list swiper-wrapper">
        <li class="feedbacks-list-card swiper-slide"></li>
        <li class="feedbacks-list-card swiper-slide"></li>
        <li class="feedbacks-list-card swiper-slide"></li>
      </ul>

      <div class="feedbacks-list-bottom">
        <div class="swiper-pagination"></div>

        <div class="feedbacks-btn-container">
          <button class="feedbacks-btn swiper-button-prev" type="button">
            <svg class="feedbacks-btn-icon" width="24" height="24">
              <use href="../img/sprite.svg#icon-arrow-back"></use>
            </svg>
          </button>
          <button class="feedbacks-btn swiper-button-next" type="button">
            <svg class="feedbacks-btn-icon" width="24" height="24">
              <use href="../img/sprite.svg#icon-arrow-forward"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
