<section class="section-hero" id="hero" aria-labelledby="page-header">
  <div class="hero-container container">
    <div class="hero-text-wrp">
      <h1 class="page-header" id="page-header">
        Capture Your Love Story with Timeless Photography
      </h1>
      <p class="section-description hero-description">
        At Maria Kovalenko Photography, we specialize in capturing the genuine
        emotions of your special day. Let us turn your unforgettable moments
        into stunning memories that last a lifetime.
      </p>
    </div>
    <a href="#contacts" class="hero-btn">Book a session</a>
  </div>
</section>
