<section class="hero-section" id="/">
  <div class="container">
    <div class="hero-container">
      <h1 class="hero-section-title">
        Capture Your Love Story with Timeless Photography
      </h1>
      <p class="hero-section-text">
        At Maria Kovalenko Photography, we specialize in capturing the genuine
        emotions of your special day. Let us turn your unforgettable moments
        into stunning memories that last a lifetime.
      </p>
      <a href="#contacts" class="book-btn">Book a Session</a>
    </div>
  </div>
</section>
