<section class="section-header" id="portfolio">
  <div class="container portfolio-container">
    <div class="portfolio-title-block">
      <load src="partials/decoration.html" />
      <h2 class="portfolio-title">Portfolio Highlights</h2>
    </div>
    <ul class="portfolio-filters list">
      <li class="filter-item">
        <button class="filter-btn active" type="button" data-category="all">
          All Photos
        </button>
      </li>
    </ul>

    <div class="portfolio-loader is-hidden" id="portfolio-loader">
      <span class="spinner"></span>
    </div>

    <ul class="portfolio-list list"></ul>

    <div class="portfolio-pagination">
      <button class="show-more-btn is-hidden" type="button" id="show-more-btn">
        Show More
      </button>
    </div>
  </div>
</section>
