.section-header {
  color: var(--color-scheme-1-text);
  font-family: var(--second-family), serif;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  font-size: 32px;
}

.decoration {
  display: flex;
  justify-content: center;
}

.icon-decoration {
  height: 20px;
  width: 300px;
}