.contacts {
  background: var(--color-scheme-2-background);
}

.section-title {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contacts-content {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contacts-content-link {
  display: inline-flex;
  gap: 10px;
  text-decoration: underline;
  line-height: 1.5;
  height: 24px;
  align-items: center;
}

.contacts-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  fill: var(--color-scheme-1-text);
  background-color: var(--opacity-transparent);
  border-radius: 6px;
  transition: background-color var(--transition), color var(--transition);
}

.contacts-text {
  display: flex;
  min-height: 24px;
  align-items: center;
  padding: 0 6px;
  background-color: var(--opacity-transparent);
  border-radius: 6px;
  transition: background-color var(--transition), color var(--transition);
}

.contacts-content-link:hover,
.contacts-content-link:focus,
.contacts-content-link:active,
.contacts-content-link:disabled {
  text-decoration: none;
}

.contacts-content-link:hover .contacts-icon,
.contacts-content-link:focus .contacts-icon,
.contacts-content-link:hover .contacts-text,
.contacts-content-link:focus .contacts-text {
  background: var(--opacity-neutral-darkest-15);
}

.contacts-content-link:active .contacts-icon,
.contacts-content-link:active .contacts-text {
  color: var(--color-curious-blue-dark);
  fill: var(--color-curious-blue-dark);
  background-color: var(--opacity-transparent);
}

.contacts-form {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contacts-form-label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  line-height: 1.5;
}

.error .contacts-form-input {
  border: 2px solid var(--red);
}

.error-message {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5%;
  color: var(--red);
  display: none;
}

.error .error-message {
  display: block;
}

.required::after {
  content: '*';
}

.contacts-form-input {
  width: 100%;
  height: 40px;
  border: 2px solid var(--color-neutral-darkest);
  border-radius: 6px;
  padding: 8px 12px;
  background: var(--opacity-transparent);
  transition: border-color var(--transition);
  outline: none;
}

.contacts-form-input::placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--opacity-neutral-darkest-60);
}

.contacts-form-input:focus,
.contacts-form-input:active,
.contacts-form-input:focus-visible {
  border: 2px solid var(--color-curious-blue-dark);
}

.contacts-form-textarea {
  height: 180px;
}

.contacts-form-submit {
  border: 1px solid var(--color-curious-blue);
  border-radius: 6px;
  padding: 10px 24px;
  width: 100%;
  height: 44px;
  background: var(--color-curious-blue);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-scheme-1-text);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--transition);
}

.contacts-form-submit:hover,
.contacts-form-submit:focus {
  border-width: 2px;
  background: var(--opacity-transparent);
}

.contacts-form-submit:active {
  border-width: 2px;
  box-shadow:
    inset 0 2px 4px -2px rgba(0, 0, 0, 0.06),
    inset 0 4px 8px -2px var(--opacity-neutral-darkest-10);
  background: var(--color-curious-blue-light);
}

.contacts-form-submit:disabled {
  background: var(--color-curious-blue);
  opacity: 0.4;
}

@media (min-width: 768px) {
  .contacts .decoration {
    justify-content: flex-start;
  }

  .contacts .section-header,
  .contacts .section-description {
    text-align: left;
  }

  .contacts-form-submit {
    max-width: 310px;
  }
}

@media (min-width: 1440px) {
  .contacts .container {
    display: flex;
    gap: 24px;
  }

  .contacts-details,
  .contacts-form {
    flex: 1;
  }

  .contacts-form {
    margin: 0;
  }

  .section-header {
    font-size: 48px;
  }
}
