.faq {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 80px;

    padding: 64px 0;
    margin: 0 auto;
    width: 375px;

    background: var(--color-scheme-2-background);
}

.section-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 40px;
}

.faq-title {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 32px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    text-align: center;
    height: 76px;
    color: var(--color-scheme-1-text);
}

.faq-subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    color: var(--color-scheme-1-text);
}

.answers-accordion {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;

    margin: 0 auto;

    width: 335px;
    max-width: 768px;
}

.answers-list-item {
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0;

    border: none;
    border-radius: 24px;
    box-shadow: inset 0 0 0 1.5px #1a1a1a;
    width: 335px;

    background: var(--color-scheme-2-foreground);
}

.answers-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: transparent;
    border: none;
    outline: none;
    gap: 24px;

    padding: 20px 24px;
    width: 100%;
}
.answers-header {
    width: 100%;
    margin: 0;
}

.answer-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: var(--color-scheme-1-text);
    text-align: left;
}

.answer-panel {
    overflow: hidden;
    transition-property: height, visibility;
    transition-timing-function: ease;
}

.answer-text {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 16px;

    padding: 0 24px 24px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-scheme-1-text);
}


/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
    .faq {
        width: 768px;
    }

    .faq-title {
        height: 38px;
    }

    .answers-accordion {
        width: 704px;
    }

    .answers-list-item {
        width: 704px;
    }
}

/* Styles for Desktop devices */
@media (min-width: 1440px) {
    .faq {
        width: 1440px;
    }

    .section-title {
        margin: 0 auto 80px auto;
        width: 768px;
    }

    .faq-title {
        height: 58px;
    }

    .answers-accordion {
        width: 768px;
    }

    .answers-list-item {
        width: 768px;
    }
}