.footer {
  display: flex;
  justify-content: center;
  padding: 48px 0;
}

.footer-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  min-width: 320px;
  max-width: 335px;
  border-radius: 24px;
  padding: 48px 20px;
  background: var(--color-scheme-2-foreground);
  border: 2px solid var(--color-scheme-2-border);
}

.footer-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 12px;
}

.footer-logo-icon {
  width: 206px;
  height: auto;
  display: block;
}

.footer-copyright {
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
}

.footer-nav-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

.footer-nav {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.footer-nav-wrapper {
  gap: 32px;
  width: 100%;
}

.footer-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-scheme-2-text);
  margin-bottom: 16px; 
}

.footer-menu-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
}

.footer-menu-list {
  gap: 24px;
}

.footer-social-list {
  gap: 16px;
}

.footer-social-link {
  display: flex;
  align-items: center;
  gap: 12px;

  padding: 8px 0;

  transition:
    color var(--transition),
    opacity var(--transition);
}

.footer-social-icon {
  fill: currentColor;
}

.footer-social-text {
  padding: 0 6px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: var(--color-scheme-2-text);
}

.footer-menu-link:hover,
.footer-menu-link:focus {
  border-radius: 6px;
  padding: 0 6px;
  background: var(--opacity-neutral-darkest-15);
}

.footer-social-link:hover .footer-social-text,
.footer-social-link:focus .footer-social-text {
  border-radius: 6px;
  background-color: var(--opacity-neutral-darkest-15);
}

.footer-menu-link:active,
.footer-social-link:active .footer-social-text {
  background-color: var(--color-scheme-2-foreground);
  color: var(--color-curious-blue-dark);
}

@media (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    padding: 48px;
    width: 704px;
    max-width: 704px;
  }

  .footer-logo-icon {
    width: 262px;
    height: 112px;
  }

  .footer-copyright {
    text-align: left;
  }

  .footer-nav-wrapper {
    flex-direction: row;
    align-items: flex-start;
  }

  .footer-menu-list {
    align-items: flex-start;
    justify-content: flex-start;
  }

  .footer-info,
  .footer-nav,
  .footer-socials,
  .footer-social-list {
    align-items: flex-start;
  }
}

@media (min-width: 1440px) {
  .footer {
    padding: 80px 0;
  }

  .footer-container {
    width: 1312px;
    max-width: 1312px;
  }

  .footer-menu-list {
    gap: 32px;
  }

  .footer-nav-wrapper {
    gap: 64px;
  }
}
