.hero-section {
  padding-block: 32px;
}

.hero-container {
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  padding: 32px 20px;
  width: 335px;
  height: 518px;

  background-repeat: no-repeat;
  background-size: 335px 518px;
  background-position: center;

  background-image: var(--linear-gradient), url(../img/feedbacks/hero-x1.webp);
}

.hero-content-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 32px;
  width: 295px;
  height: 454px;
}

.hero-text-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.hero-title {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: var(--color-white);
}

.hero-text {
  font-size: 18px;
  line-height: 1.5;
  color: var(--color-white);
}

.hero-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  border: none;
  border-radius: 6px;
  width: 295px;
  height: 44px;

  font-weight: 500;
  color: var(--color-neutral-darkest);

  background-color: var(--color-white);
}

.hero-btn:hover,
.hero-btn:focus {
  border: 2px solid var(--color-white);
  background-color: var(--color-curious-blue);
}

.hero-btn:active {
  border-color: var(--color-white);
  box-shadow:
    inset 0 2px 4px -2px rgba(0, 0, 0, 0.06),
    inset 0 4px 8px -2px var(--color-white);
  background-color: var(--color-curious-blue-light);
}

@media screen and (min-resolution: 192dpi) {
  .hero-container {
    background-image:
      var(--linear-gradient), url(../img/feedbacks/hero-x2.webp);
  }
}

@media (min-width: 768px) {
  .hero-section {
    padding-block: 32px;
  }

  .hero-container {
    padding: 32px;
    width: 704px;
    height: 431px;

    background-size: 704px 431px;

    background-image:
      var(--linear-gradient), url(../img/feedbacks/hero_t-x1.webp);
  }

  .hero-content-container {
    margin-top: auto;
    width: 640px;
    height: 277px;
  }

  .hero-text-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .hero-title {
    width: 519px;
  }

  .hero-btn {
    width: 159px;
    color: var(--color-scheme-1-text);
    background-color: var(--color-curious-blue);
  }

  .hero-btn:hover,
  .hero-btn:focus {
    border: 2px solid var(--color-curious-blue);
    background-color: var(--color-white);
  }

  .hero-btn:active {
    box-shadow:
      inset 0 2px 4px -2px rgba(0, 0, 0, 0.06),
      inset 0 4px 8px -2px var(--opacity-neutral-darkest-10);
    background-color: var(--color-curious-blue-light);
  }

  @media screen and (min-width: 768px) and (min-resolution: 192dpi) {
    .hero-container {
      background-image:
        var(--linear-gradient), url(../img/feedbacks/hero_t-x2.webp);
    }
  }
}

@media (min-width: 1440px) {
  .hero-section {
    padding-block: 48px;
  }

  .hero-container {
    padding: 32px 64px;
    width: 1312px;
    height: 702px;

    background-size: 1312px 702px;

    background-image:
      var(--linear-gradient), url(../img/feedbacks/hero_d-x1.webp);
  }

  .hero-content-container {
    flex-direction: row;
    gap: 32px;
    width: 1184px;
    height: 212px;
  }

  .hero-text-container {
    justify-content: flex-end;
  }

  .hero-title {
    width: 700px;
    font-size: 56px;
  }

  .hero-text {
    width: 798px;
  }

  .hero-btn {
    margin-top: auto;
  }

  @media screen and (min-width: 1440px) and (min-resolution: 192dpi) {
    .hero-container {
      background-image:
        var(--linear-gradient), url(../img/feedbacks/hero_d-x2.webp);
    }
  }
}
